*filter
:INPUT DROP [0:0]
:FORWARD DROP [0:0]
:OUTPUT ACCEPT [0:0]
-A INPUT -m state --state RELATED,ESTABLISHED -j ACCEPT
-A INPUT -i lo -j ACCEPT
-A INPUT -s 164.67.153.224/32 -p icmp --icmp-type echo-request -j ACCEPT
-A INPUT -s 164.67.153.224/32 -p tcp -m state --state NEW -m tcp --dport 5666 -j ACCEPT
-A INPUT -s 164.67.153.0/24 -p tcp -m state --state NEW -m tcp --dport 22 -j ACCEPT
{# use iptables_allowed_input_rules as primary variable for setting iptables input rules #}
{% for rule in iptables_allowed_input_rules %}
-A INPUT -s {{ rule.src_ip }} -p {{ rule.protocol }} -m state --state NEW -m multiport -m {{ rule.protocol }} --dports {{ rule.dest_port }} -j ACCEPT
{% endfor %}
{# use iptables_alt_allowed_input_rules as secondary variable for setting iptables input rules as one-offs for whatever reason #}
{% if iptables_alt_allowed_input_rules is defined %}
{% for rule_alt in iptables_alt_allowed_input_rules %}
-A INPUT -s {{ rule_alt.src_ip }} -p {{ rule_alt.protocol }} -m state --state NEW -m multiport -m {{ rule_alt.protocol }} --dports {{ rule_alt.dest_port }} -j ACCEPT
{% endfor %}
{% endif %}
{% if iptables_anywhere_input_rules is defined %}
{% for rule_anywhere in iptables_anywhere_input_rules %}
-A INPUT -p {{ rule_anywhere.protocol }} -m state --state NEW -m multiport -m {{ rule_anywhere.protocol }} --dports {{ rule_anywhere.dest_port }} -j ACCEPT
{% endfor %}
{% endif %}
-A INPUT -p icmp --icmp-type echo-request -j DROP
-A INPUT -j REJECT --reject-with icmp-host-prohibited
-A FORWARD -j REJECT --reject-with icmp-host-prohibited
COMMIT